*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    background-image: url('../images/appeti.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;

}

body{
    font-size: 19px;
    overflow-x: hidden;
    font-family:  'Poppins', sans-serif;
}

.clearfix:after{
    content: "";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

.row{
    max-width: 1180px;
    margin: 0 auto;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 30px;
}
.logo{
    height: 120px;
    width: auto;
    float: left;
    margin-top: 80px;
}

.main-nav{
    float: right;
    margin-top: 60px;
}

.main-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}

.main-nav li a{
    color: #fff;
    padding: 5px 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 80%;
    font-weight: 100;
}

.nav .nav-item a:hover{
    border-bottom: 4px solid #bf55ec;
    pointer-events: stroke;
}

.main-content-header{
    width: 1180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.main-content-header h1{
    color: #fff;
    font-size: 240%;
    word-spacing: 5px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 200;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2;
}

.btn-menu{
    background-color: transparent;
    color: #bf55ec;
    margin-right: 15px;
    border: 1px solid #bf55ec;
}

.btn-menu:hover{
    background-color: #fff;
}

.btn-nav{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;

}

.btn-nav:hover{
    background-color: #bf55ec;
}

.mobile-icon{ display: none;}




.other-restaurants{
    width: 100%;
    position: relative;
}

.other-restaurants h2{
    font-size: 25px;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 0 !important;

}

.other-restaurants .select-styled{
    width: 334px;
    float: right;
}

.other-restaurants-inner{
    padding: 25px 20px 30px;
    float: left;
    width: 100%;
    position: relative;
    background: #84754e;
    color: #ffff
}

.select-styled {
    display: block;
    width: 100%;
    background: #fff;
    line-height: 1;
    border-radius: 0;
    height: 40px;
    text-indent: 0.01px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    color: #2e7050;
}

select{
    text-transform: none;
}

.select-styled select{
    height: 40px;
    font-size: 18px;
    padding: 5px 8px;
    margin-left: 15px;
    color: #84754e;
}

.select-styled select label{
    color: #000;
    font-size: 22px
}

.other-restaurants h1 {
    font-size: 23px;
    text-transform: uppercase;
}

select {
    border-color: rgb(169, 169, 169);
}


select {
    border-radius: 5px;
}



.main-body .location-landing-widgets{
    width: 100%;
}

.location-widget .location-details{
    background-color: #edeae5;
}
/*
.location-widget:nth-child(1) {
    z-index: 10;
}

.location-widget:nth-child(2) {
    z-index: 9;
}

.location-widget:nth-child(3) {
    z-index: 8;
}
*/
.location-widget .intro-text {
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #000;
}

.location-widget .flex-list {
    padding-top: 120px;
    padding-bottom: 120px;
    margin-left: 40px;
    background: #edeae5;
}


.location-widget:first-child {
    padding-bottom: 120px;
}
.location-widget:last-child {
    padding-bottom: 120px;
}


.location-widget p{
    margin: 0 0 10px;
    font-size: 16px;
}

.location-widget span{
    font-style: italic;
    font-size: 15px;
}
 

.flext-list .flex-item{
    padding: 0 3%;
    margin-left: 25px;
}

.links a.flex-item{
    position: relative;
    width: calc(400px - 30px);
    height: calc(500px - 30px);
    background: #edeae5;
    float: left;
    margin: 25px;
    text-decoration: none;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 0.3s ease;
}

figure{
    display: block;
}

.links .image {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}

.img{
    width: 400px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.links, .text{
    padding: 30px 30px 35px;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.column{
    padding: 30px 30px 35px;
    margin: 0;
    display: flex;
    flex: 1 1 auto;

}
.links .flex-item h3, .links .flex-item .text-btn{
    color: #bf55ec;
}

.links .flex-list a{
   text-decoration: none;
}

.links .flex-item h3{
    font-size: 26px;
    font-weight: 100;
    word-spacing: 5px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    font-family:  'Poppins', sans-serif;
}

.links .flex-item p{
    font-size: 19px;
    font-family:  'Poppins', sans-serif;
    padding-bottom: 15px;
}

.btn-wrap{
    padding-top: 12px;
}

.text-btn{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 0.05em !important;
    border-bottom: 2px solid white;
    padding-bottom: 3px;
    line-height: 1.5;
}

.links .container-fluid{
    width: 1500px;
    margin: 0 auto;
    padding: 0 30px;
}

.location-details{
    padding: 40px 0;
    background: #edeae5;
    color: #84754e;
}

.location-widget.location-details{
    padding-bottom: 50px;
    width: 100%;
    padding: 35px 55px;
}



.location-details .col-md-6{
    position: relative;
    width: calc(600px - 30px);
    height: calc(700px - 30px);
    float: left;
    margin: 35px;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 0.3s ease;
}


.contact h3 {
    margin: -5px 0 35px;
    font-size: 22px;
    padding-bottom: 20px;
    border-bottom: 2px solid;
}

.contact-address{
    padding: 0 20px 0 60px;
}

.contact-number .number{
    margin-top: 20px;
    font-size: 17px;
    line-height: 1.4;
    letter-spacing: 0.2em;
}

.contact-address, .contact-hours {
    padding: 0 20px 25px !important;
    position: relative;
    list-style: none;
    font-weight: 500;

}




.main-footer .footer-top{
text-align: center;
background: #c785e4b3;
}

.container-fluid footer .footer-top {
    padding-top: 20px 0 28px;

    color: #000;
}

.footer-title{
    font-family: 'Bauer';
    font-size: 22px;
    margin-bottom: 10px;
    letter-spacing: 0.02em;
    color: #000;
    text-align: center;
}

footer .footer-top .newsletter-widget {
    max-width: 1000px;
    margin: 0 auto;
}

footer .newsletter-widget {
    position: relative;
    text-align: center;
}

footer .newsletter-widget form + p{
    max-width: 850px;
    margin: 20px auto 0;
    line-height: 1.5;
}

footer .newsletter-widget form .form-group{
    float: left;
    margin-left: 16px;
}

#newsletter_info .form-group input{
    width: 95%;
    height: 35px;
    margin-top: 25px;
    font-weight: 900;
    font-family: 'Bauer';
    color: #2e7050;

}

.btn-submit{
    width: 16%;
    height: 35px;
    margin-top: 25px;
    background: #c785e4b3;
    font-weight: 900;
    font-family: 'Bauer';
}

#placeholder {
    font-size: 6px;
}

form{
    display: block;
    margin-top: 0px;
}

.footer-bottom{
    padding: 15px 0;
}

.footer-links li{
    padding: 25px 15px;
    display: inline-block;
    list-style: none;
    margin-left: 20px;
}

footer .newsletter-widget .form-group[data-fieldtype = "cb"] {
    display: inline-flex;
    justify-content: center;
    margin: 30px 0;
    position: relative;
}

footer .newsletter-widget .checkbox-cont li span{
    margin-left: 20px;
}

footer .newsletter-widget .form-group[data-fieldtype = "cb"] p{
    margin: 0;
    padding: 0 25px 0;
}


footer .newsletter-widget form + p, footer .newsletter-widget fieldset + p {
    max-width: 850px;
    margin: 20px auto 0;
    line-height: 1.5;
}


ul.radio-check-list {
    list-style: none;
    padding: 0px !important;
    margin: 0px;
    margin-bottom: 10px;
}
/*.links .flex-item {
    margin: 15px;
    width: calc(25% - 30px);
    background: #edeae5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}*/




/* RESPONSIVE CONTAINER */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
   }
}

@media (min-width: 992px) {
    .container {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .container {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }


}

@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}

@media (min-width: 992px){
    .container {
        width: 970px;
    }
}

@media (min-width: 768px){
    .container {
        width: 750px;
    }
}



/* RESPONSIVE HEADER */

@media only screen and (max-width: 1180px){
    .main-content-header{
        width: 100%;
        padding: 0 2%;
    }
}

@media only screen and (max-width: 998px){
    .main-content-header h1{
        font-size: 180%;
    }

    .main-content-header{
        width: 100%;
        padding: 0 2%;
    }
}


@media only screen and (max-width: 768px){
    .main-content-header h1{
        font-size: 110%;
    }

    .main-nav{ display: none;}
    
    .main-content-header{
        width: 100%;
        padding: 0 2%;

    }

    .mobile-icon{
        display: inline-block;
        color: #fff;
        float: right;
        margin-top: 30px;
        margin-right: 20px;
    }

    .main-nav{
        float: left;
        margin-top: 10px;
        margin-bottom: 20px;
    }

  
    .main-nav li{
        display: block;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 480px){
    .btn-menu{
        margin-bottom: 20px;
    }

    .main-nav{
        float: left;
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .main-content-header{
        width: 100%;
        margin-top: 25px;
        padding: 0 6%;


    }

    .main-content-header h1{
        font-size: 140%;
    }

}


/* MAIN BODY*/

@media (min-width: 992px) {
    .other-restaurants h2 {
        padding: 28px 0;
        font-size: 32px;
        letter-spacing: 0.015em;
    }

    .other-restaurants {
        padding: 0 40px !important;
    }

    .select-styled{
        max-width: none;
        margin-bottom: 0;
        position: absolute;
        top: 21px;
        right: 40px;
        width: 100%;
        height: 50px;
        font-size: 16px;
        padding: 0 20px;
    }
}

@media (min-width: 992px){
    h1,h2,h3 {
        font-size: 35px;
    }
}
@media (min-width: 768px){
    h1,h2,h3 {
        font-size: 30px;
    }
    .select-styled{
        height: 46px;
    }
}

@media (min-width: 992px) {
    .contact-address, .contact-hours, .contact-number {
        padding-left: 60px !important;
    }
}

@media (min-width: 992px){
    .landing-contact {
        padding-left: 30px;
    }


    .col-md-6 {
        width: 50%;
    }


    .location__details {
        padding: 90px 0;
    }
}

@media (min-width: 768px){
    .location__details {
        padding: 60px 0;
    }
}

@media (min-width: 768px){
    .footer-title {
        font-size: 32px;
        margin-bottom: 40px;
    }
}